{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="Title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="bid" placeholder="Starting Bid">
        <input type="text" name="image" placeholder="Image URL(optional)">
        <input type="text" name="category" placeholder="Category(optional)">
        <input type="submit">
    </form>
{% endblock %}